"agencia_financiadora": "asassa",
"data_para_encerramento_conta": "2019-11-07",
"email": "aaaa@aaa.com",
"ferramentas_utilizadas": "asas",
"id": "",
"linha_pesquisa": "asas",
"metodologias_utilizadas": "asassa",
"nivel_graduacao": "nivel",
"nome": "123123213",
"orientador": "123123",
"outras_informacoes": "assasasa",
"outros_recursos_computacionais": "asas↵assa↵",
"projeto_financiado": true,
"projeto_registrado_ufv": false,
"quantidade_cpus": "2",
"quantidade_jobs": "",
"quantidade_memoria": "2",
"quantidade_nos": "2",
"resumo_objetivo_projeto_pesquisa": "assaas",
"softwares_solicitados": "assas↵sss",
"telefone": "12313",
"tempo_duracao_projeto_pesquisa": "assasa",
"titulo_projeto": "asasas↵asas",
"usuario_username": "aaaaaaa",

form: {
  id: '',
  user_id: '',
  nome: '',
  usuario_username: '',
  email: '',
  telefone: '',
  orientador: '',
  nivel_graduacao: '',
  data_para_encerramento_conta: '',
  quantidade_cpus: '',
  quantidade_nos: '',
  quantidade_memoria: '',
  outros_recursos_computacionais: '',
  // quantidade_jobs: '',
  softwares_solicitados: '',
  ferramentas_utilizadas: '',
  linha_pesquisa: '',
  titulo_projeto: '',
  projeto_financiado: false,
  agencia_financiadora: '',
  projeto_registrado_ufv: false,
  tempo_duracao_projeto_pesquisa: '',
  resumo_objetivo_projeto_pesquisa: '',
  metodologias_utilizadas: '',
  outras_informacoes: '',
}